@model IEnumerable<GCCommerce.Models.ModelAdmissionList>

@{
    ViewData["Title"] = "AdmissionList";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>AdmissionList</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                @*<th>
                    @Html.DisplayNameFor(model => model.ProgramID)
                </th>*@
                <th>
                    @Html.DisplayNameFor(model => model.ProgramTitle)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AdmissionEligibilityCriteria)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AdmissionDocument)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            @*<td>
                @Html.DisplayFor(modelItem => item.ProgramID)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.ProgramTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdmissionEligibilityCriteria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdmissionDocument)
            </td>
            <td>
                @Html.ActionLink("Edit", "UpdateAdmission", new { id=item.AdmissonID }) |
                @*@Html.ActionLink("Details", "Details", new { AdmissionID=item.Admission }) |*@
                @Html.ActionLink("Delete", "AdmissionDelete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
