@model GCCommerce.Entities.Admission

@{
    ViewData["Title"] = "AdmissionDetail";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

}

<h2>AdmissionDetail</h2>

<div>
    <h4>Admission</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AdmissionId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AdmissionId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FkProgramId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FkProgramId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AdmissionEligibilityCriteria)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AdmissionEligibilityCriteria)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AdmissionDocument)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AdmissionDocument)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateCreated)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateUpdated)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateUpdated)
        </dd>
    </dl>
</div>
<div>
    @*@Html.ActionLink("Edit", "UpdateAdmission", new {  id = Model.AdmissionId })*@ |
    <a asp-action="AdmissionList">Back to List</a>
</div>
