@model IEnumerable<GCCommerce.Entities.Event>

@{
    ViewData["Title"] = "EventList";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

}

<h2>EventList</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table" id="table" name="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EventId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateCreated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateUpdated)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.EventId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EventName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EventDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EventDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateCreated)
                </td>
                <td>
                    @if (item.DateUpdated != null)
                    {
                        @Html.DisplayFor(modelItem => item.DateUpdated)
                    }
                    else
                    {
                        <strong>Null</strong>

                    }
                </td>
                <td>
                    @Html.ActionLink("Edit", "UpdateEvent", new { id = item.EventId }) |
                    @Html.ActionLink("Details", "EventDetail", new { id = item.EventId }) |
                    @Html.ActionLink("Delete", "EventDelete", new { id=item.EventId })
                </td>
            </tr>
        }
    </tbody>
</table>
@section scripts{
    <script>
        $(document).ready(function () {
            $('#table').DataTable();

    });
    </script>
}