@model GCCommerce.Entities.FeeStructure

@{
    ViewData["Title"] = "FeeStructureDetail";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

}

<h2>Fee Structure Detail</h2>

<div>
    <h4 hidden>FeeStructure</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FkProgramId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FkProgramId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Shift)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Shift)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Year1)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Year1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Year2)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Year2)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateCreated)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateUpdated)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateUpdated)
        </dd>
    </dl>
</div>
<div>
    <div class="col-md-4">
        @Html.ActionLink("Edit", "UpdateFeeStructure", new { id = Model.Id }, new { @class = "btn btn-success center-block" })
    </div>
    <div class="col-md-4">
        <a asp-action="FeeStructureList" class="btn btn-danger form-control-static center-block">Back to List</a>
    </div>
</div>