@model IEnumerable<GCCommerce.Models.ModelFeeStructureList>

@{
    ViewData["Title"] = "FeeStructureList";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

}

<h2>Fee Structure List</h2>

<p>
    <a asp-action="AddUpdateFeeStructure" class="btn btn-primary pull-right">Create New</a>
</p>
<table class="table" id="table" name="table">
    <thead>
        <tr>
            <th hidden>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th hidden>
                @Html.DisplayNameFor(model => model.FkProgramId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProgramTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Shift)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Year1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Year2)
            </th>
            @*<th hidden>
            @Html.DisplayNameFor(model => model.DateCreated)
        </th>
        <th hidden>
            @Html.DisplayNameFor(model => model.DateUpdated)
        </th>
            <th></th>
        </tr>*@
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td hidden>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td hidden>
                @Html.DisplayFor(modelItem => item.FkProgramId)
            </td>
            <th>
                @Html.DisplayFor(model => item.ProgramTitle)
            </th>
            <td>
                @Html.DisplayFor(modelItem => item.Shift)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year2)
            </td>
            @*<td hidden>
            @Html.DisplayFor(modelItem => item.)
        </td>
        <td hidden>
            @if (item.DateUpdated != null)
            {
                @Html.DisplayFor(modelItem => item.DateUpdated)
            }
            else
            {
                <strong>Null</strong>
            }
        </td>*@
            <td>
                @Html.ActionLink("Edit", "UpdateFeeStructure", new { id = item.Id }, new { @class = "glyphicon glyphicon-edit" })
                @Html.ActionLink("Details", "FeeStructureDetail", new { FeeStructureID = item.Id }, new { @class = "glyphicon glyphicon-edit" })
                <a href="#" onclick="return false;" class="glyphicon glyphicon-trash g dlt" data-id="@item.Id">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
@section scripts{
    <script>
        $(document).ready(function () {
            $('#table').DataTable();

        });

        $('.dlt').click(function () {
            var deletbutton = $(this);
            alert(deletbutton.data("id"));
            if (confirm("Are You Sure you want to delete")) {
                deletbutton.text("Please wait.....");
                $.ajax({
                    before: function () { },
                    url: '/Administrator/DeleteFeeStructure',
                    type: 'GET',
                    data: {
                        id: deletbutton.data("id")
                    },
                    success: function (result) {
                        alert(result);
                        if (result == true) {
                            deletbutton.parent().parent().fadeOut();
                        }
                    },
                    error: function () { },
                    after: function () { }
                })
            }

        });
    </script>
}