@model IEnumerable<GCCommerce.Entities.Gallery>

@{
    ViewData["Title"] = "GalleryList";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

}

<h2>Gallery List</h2>

<p>
    <a asp-action="AddUpdateGllery" class="btn btn-primary pull-right">Create New</a>
</p>
<table class="table" id="table" name="table">
    <thead>
        <tr>
            <th hidden>
                @Html.DisplayNameFor(model => model.GalleryId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GalleryImageName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GalleryImageDescription)
            </th>
            <th hidden>
                @Html.DisplayNameFor(model => model.DateCreated)
            </th>
            <th hidden>
                    @Html.DisplayNameFor(model => model.DateUpdated)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.GalleryId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GalleryImageName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GalleryImageDescription)
                </td>
                <td hidden>
                    @Html.DisplayFor(modelItem => item.DateCreated)
                </td>
                <td hidden>
                    @if (item.DateUpdated != null)
                    {
                        @Html.DisplayFor(modelItem => item.DateUpdated)
                    }
                    else
                    {
                        <strong>Null</strong>
                    }
                </td>
                <td>
                    @Html.ActionLink("Edit", "UpdateGallery", new { id = item.GalleryId }, new { @class = "btn btn-success" }) |
                    @Html.ActionLink("Details", "GalleryDetail", new {GalleryID =item.GalleryId}, new { @class = "btn btn-small btn-primary" }) |
                    @Html.ActionLink("Delete", "GalleryDelete", new { GalleryID=item.GalleryId }, new { @class = "btn btn-small  btn-danger" })
                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts{
    <script>
        $(document).ready(function () {
            $('#table').DataTable();

    });
    </script>
}
