@model GCCommerce.Entities.Gallery

@{
    ViewData["Title"] = "GalleryDetail";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

}

<h2>Gallery Detail</h2>

<div>
    <h4 hidden>Gallery</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.GalleryId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GalleryId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GalleryImageName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GalleryImageName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GalleryImageDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GalleryImageDescription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateCreated)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateUpdated)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateUpdated)
        </dd>
    </dl>
</div>
<div class="col-md-8">
    <div class="col-md-4">
            @Html.ActionLink("Edit", "UpdateGallery", new { id = Model.GalleryId }, new { @class = "btn btn-success center-block" })
        </div>
        <div class="col-md-4">
            <a asp-action="GalleryList" class="btn btn-danger form-control-static center-block">Back to List</a>
        </div>
    </div>

