@model GCCommerce.Entities.MeritList

@{
    ViewData["Title"] = "MeritListDetail";
}

<h2>MeritListDetail</h2>

<div>
    <h4>MeritList</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MeritListId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MeritListId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FkProgramId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FkProgramId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Shift)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Shift)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MeritListValue)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MeritListValue)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateCreated)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateUpdated)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateUpdated)
        </dd>
    </dl>
</div>
<div>
    @*@Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |*@
    <a asp-action="MeritListList">Back to List</a>
</div>
