@model IEnumerable<GCCommerce.Entities.News>

@{
    ViewData["Title"] = "NewsList";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

}

<h2>News List</h2>

<p>
    <a asp-action="AddUpdateNews" class="btn btn-primary pull-right">Create New</a>
</p>
<table class="table" id="table" name="table">
    <thead>
        <tr>
            <th hidden> 
                @Html.DisplayNameFor(model => model.NewsId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NewsValue)
            </th>
            <th hidden>
                @Html.DisplayNameFor(model => model.DateCreated)
            </th>
            <th hidden>
                @Html.DisplayNameFor(model => model.DateUpdated)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td hidden>
                    @Html.DisplayFor(modelItem => item.NewsId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NewsValue)
                </td>
                <td hidden>
                    @Html.DisplayFor(modelItem => item.DateCreated)
                </td>
                <td hidden>
                    @if (item.DateUpdated != null)
                    {
                        @Html.DisplayFor(modelItem => item.DateUpdated)

                    }
                    else
                    {
                        <strong>Null</strong>
                    } 
                </td>
                <td>
                    @Html.ActionLink("Edit", "UpdateNews", new { id = item.NewsId }, new { @class = "glyphicon glyphicon-edit" }) 
                    @Html.ActionLink("Details", "NewsDetail", new { NewsID = item.NewsId }, new { @class = "glyphicon glyphicon-tree-deciduous" }) 
                    <a href="#" onclick="return false;" class="glyphicon glyphicon-trash dlt" data-id="@item.NewsId">Delete</a> 
                </td>
            </tr>
        }
    </tbody>
</table>
@section scripts{
    <script>
        $(document).ready(function () {
            $('#table').DataTable();
        });
       
        $('.dlt').click(function () {
            var deletbutton = $(this);
            alert(deletbutton.data("id"));
            if (confirm("Are You Sure you want to delete")) {
                deletbutton.text("Please wait.....");
                $.ajax({
                    before: function () { },
                    url: '/Administrator/DeleteNews',
                    type: 'GET',
                    data: {
                        id: deletbutton.data("id")
                    },
                    success: function (result) {
                        alert(result);
                        if (result == true) {
                            deletbutton.parent().parent().fadeOut();
                        }
                    },
                    error: function () { },
                    after: function () {}
                })
            }

        });
    </script>
}