@model IEnumerable<GCCommerce.Models.ModelProgramList>

@{
    ViewData["Title"] = "ProgramList";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Program List</h2>

<p>
    <a asp-action="AddUpdateProgram" class="btn btn-primary pull-right">Create New</a>
</p>
<table class="table" id="table" name="table">
    <thead>
        <tr>
            <th hidden>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProgramTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProgramShift)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td hidden>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProgramTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProgramShift)
                </td>
                <td>
                    @Html.ActionLink("Edit", "UpdateProgram", new { id = item.Id }, new { @class = "glyphicon glyphicon-edit" })
                    @Html.ActionLink("Details", "ProgramDetail", new { ProgramID = item.Id }, new { @class = "glyphicon glyphicon-tree-deciduous" })
                    <a href="#" onclick="return false;" class="glyphicon glyphicon-tree-deciduous  dlt" data-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts{
    <script>
        $(document).ready(function () {
            $('#table').DataTable();
        });

        $('.dlt').click(function () {
            var deletbutton = $(this);
            alert(deletbutton.data("id"));
            if (confirm("Are You Sure you want to delete")) {
                deletbutton.text("Please wait.....");
                $.ajax({
                    before: function () { },
                    url: '/Administrator/DeleteProgram',
                    type: 'GET',
                    data: {
                        id: deletbutton.data("id")
                    },
                    success: function (result) {
                        alert(result);
                        if (result == true) {
                            deletbutton.parent().parent().fadeOut();

                        }

                    },
                    error: function () { },
                    after: function () { }
                })
            }

        });
    </script>
}
