@model GCCommerce.Entities.Seats

@{
    ViewData["Title"] = "SeatsDetail";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

}

<h2>Seats Detail</h2>

<div>
    <h4 hidden>Seats</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SeatId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SeatId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FkProgramId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FkProgramId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SeatsTotal)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SeatsTotal)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SeatsAvailable)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SeatsAvailable)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SeatsReserve)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SeatsReserve)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateCreated)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateUpdated)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateUpdated)
        </dd>
    </dl>
</div>
<div class="col-md-8">
    <div class="col-md-4">
        @Html.ActionLink("Edit", "UpdateSeats", new {  id = Model.SeatId}, new { @class = "btn btn-success center-block" })
    </div>
    <div class="col-md-4">
        <a asp-action="SeatsList" class="btn btn-danger form-control-static center-block">Back to List</a>
    </div>
</div>

