@model IEnumerable<GCCommerce.Entities.Shift>

@{
    ViewData["Title"] = "ShiftList";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

}

<h2>Shift List</h2>

<p>
    <a asp-action="AddUpdateShift" class="btn btn-primary pull-right">Create New</a>
</p>
<table class="table" id="table" name="table">
    <thead>
        <tr>
                <th hidden>
                    @Html.DisplayNameFor(model => model.ShiftId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Shift1)
                </th>
                <th hidden>
                    @Html.DisplayNameFor(model => model.DateCreated)
                </th>
                <th hidden>
                    @Html.DisplayNameFor(model => model.DateUpdated)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td hidden>
                @Html.DisplayFor(modelItem => item.ShiftId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Shift1)
            </td>
            <td hidden>
                @Html.DisplayFor(modelItem => item.DateCreated)
            </td>
            <td hidden>
                @if (item.DateUpdated != null)
                {
                    @Html.DisplayFor(modelItem => item.DateUpdated)
                }
                else
                {
                    <strong>Null</strong>
                }
            </td>
            <td>
                @Html.ActionLink("Edit", "UpdateShift", new { id = item.ShiftId }, new { @class = "btn btn-success" }) 
                @Html.ActionLink("Details", "ShiftDetail", new { ShiftID = item.ShiftId }, new { @class = "btn btn-small btn-primary" }) 
               @*@Html.ActionLink("Delete", "ShiftDelete", new { ShiftID = item.ShiftId }, new { @class = "btn btn-small  btn-danger" })*@
                <a href="#" onclick="return false" class="btn btn-danger dlt" data-id="@item.ShiftId">Delete</a>

            </td>
        </tr>
}
    </tbody>
</table>
@section scripts{ 
    <script>
        $(document).ready(function () {
            $('#table').DataTable();
        });

        $('.dlt').click(function () {
            var deletbutton = $(this);
            alert(deletbutton.data("id"));
            if (confirm("Are You Sure you want to delete")) {
                deletbutton.text("Please wait.....");
                $.ajax({
                    before: function () { },
                    url: '/Administrator/DeleteShift',
                    type: 'GET',
                    data: {
                        id: deletbutton.data("id")
                    },
                    success: function (result) {
                        alert(result);
                        if (result == true) {
                            deletbutton.parent().parent().fadeOut();

                        }

                    },
                    error: function () { },
                    after: function () { }
                })
            }

        });
        </script>

}
