@model GCCommerce.Entities.Shift

@{
    ViewData["Title"] = "ShiftDetail";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

}

<h2>Shift Detail</h2>

<div>
    <h4 hidden>Shift</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ShiftId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ShiftId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Shift1)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Shift1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateCreated)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateUpdated)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateUpdated)
        </dd>
    </dl>
</div>
<div class="col-md-8">
    <div class="col-md-4">
        @Html.ActionLink("Edit", "UpdateShift", new { id = Model.ShiftId }, new { @class = "btn btn-success center-block" }) 
    </div>
        <div class="col-md-4">
            <a asp-action="ShiftList" class="btn btn-danger form-control-static center-block">Back to List</a>
        </div>
</div>
