@model IEnumerable<GCCommerce.Entities.Teacher>

@{
    ViewData["Title"] = "TeacherList";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

}

<h2>Teacher List</h2>

<p>
    <a asp-action="AddUpdateTeacher" class="btn btn-primary pull-right">Create New</a>
</p>
<table class="table" id="table" name="table">
    <thead>
        <tr>
            <th hidden>
                @Html.DisplayNameFor(model => model.TeacherId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Grade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Qualification)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HiredDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TransferDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RetirementDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th hidden>
                @Html.DisplayNameFor(model => model.DateCreated)
            </th>
            <th hidden>
                @Html.DisplayNameFor(model => model.DateUpdated)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td hidden>
                    @Html.DisplayFor(modelItem => item.TeacherId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Grade)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Qualification)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HiredDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TransferDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RetirementDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Image)
                </td>
                <td hidden>
                    @Html.DisplayFor(modelItem => item.DateCreated)
                </td>
                <td hidden>
                    @if (item.DateUpdated != null)
                    {
                        @Html.DisplayFor(modelItem => item.DateUpdated)

                    }
                    else
                    {
                        <strong>Null</strong>

                    }
                </td>
                <td>
                    @Html.ActionLink("Edit", "UpdateTeacher", new { id = item.TeacherId }, new { @class = "glyphicon glyphicon-edit" }) 
                    @Html.ActionLink("Details", "TeacherDetail", new { TeacherID = item.TeacherId }, new { @class = "glyphicon glyphicon-tree-deciduous" }) 
                    <a href="#" onclick="return false" class="glyphicon glyphicon-trash dlt" data-id="@item.TeacherId">Delete</a>

                </td>
            </tr>
        }
    </tbody>
</table>
@section scripts{
    <script>
        $(document).ready(function () {
            $('#table').DataTable();           
        });

        $('.dlt').click(function () {
            var deletbutton = $(this);
            alert(deletbutton.data("id"));
            if (confirm("Are You Sure you want to delete")) {
                deletbutton.text("Please wait.....");
                $.ajax({
                    before: function () { },
                    url: '/Administrator/DeleteTeacher',
                    type: 'GET',
                    data: {
                        id: deletbutton.data("id")
                    },
                    success: function (result) {
                        alert(result);
                        if (result == true) {
                            deletbutton.parent().parent().fadeOut();
                        }
                    },
                    error: function () { },
                    after: function () { }
                })
            }

        });
    </script>
}