@model IEnumerable<GCCommerce.Entities.Teacher>

@{
    ViewData["Title"] = "TeacherList";
}

<h2>TeacherList</h2>

<p>
    <a asp-action="AddUpdateTeacher">Create New</a>
</p>
<table class="table" id="table" name="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TeacherId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Grade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Qualification)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HiredDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TransferDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RetirementDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateCreated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateUpdated)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TeacherId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Grade)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Qualification)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HiredDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TransferDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RetirementDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Image)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateCreated)
                </td>
                <td>
                    @if (item.DateUpdated != null)
                    {
                        @Html.DisplayFor(modelItem => item.DateUpdated)

                    }
                    else
                    {
                        <strong>Null</strong>

                    }
                </td>
                <td>
                    @Html.ActionLink("Edit", "UpdateTeacher", new { id=item.TeacherId }) |
                    @Html.ActionLink("Details", "TeacherDetail", new { TeacherID = item.TeacherId }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }
    </tbody>
</table>
@section scripts{
    <script>
        $(document).ready(function () {
            $('#table').DataTable();

    });
    </script>
}